<html>
<head>
  <meta charset="utf-8">
  <title>Examensarbete</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">

</head>


<body>

  <div id="header">
    <h1> {{message}} </h1>
  </div>

  <div id="menu">
    <ul id="MenuListA">
      <li id="MenuListB" v-for="todo in todos">
         {{ todo.text }}
      </li>
    </ul>
  </div>

  <div class="content">
    <div class="news" id="news1">
      {{ message }}
    </div>
    <div class="news" id="news2">
      {{ message }}
    </div>
    <div class="news" id="news3">
      {{ message }}
    </div>
  </div>

<div id="footer">
    <div  id="footerCont" v-for="todo in todos">
      {{ todo.text }}
    </div>
</div>
<script src="javascript.js"></script>
</body>
</html>
