#header{
  background-color: #5c5c8a;
  height: 45px;
  text-align: center;
  margin: 0px;
}
#content{
  background-color: #9494b8;
  height: 800px;
  width: 70%;
  align-self: center;
}
#footer{
  background-color: #5c5c8a;
  height: 100px;

}
