body{
  margin: 0;
  text-decoration: none;
  background-color: #9494b8;

}
ul{
  margin: 0px;
}
li{
  padding: 2px;
}
#header{
  background-color: #5c5c8a;
  height: 55px;
  width: 100%;
  text-align: center;
  margin: 0;
}
#header1{
  padding-top: 5px;
}
#menu{
  background-color: #5c5c8a;
  height: 45px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  display: inline-block;
}
#MenuListA{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#MenuListB{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}
#listB:hover{
  background-color: #111;
}
.content{
  background-color: #9494b8;
  width: 100%;
  text-align: center;
}
.news{
  background-color: white;
  width: 70%;
  margin-left: 15%;
  box-shadow: 2px 4px 4px;
  margin-bottom: 15px;
  border-radius: 5px 5px 5px 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.BigNews{
  background-color: #9494b8;
}
#footer{
  background-color: #5c5c8a;
  height: 100px;
  width: 100%;
  display: inline-block;
  color: black;
}
#footerCont{
  padding-top: 4px;
}
